<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<form action="/forgot-password" method="post">

    {{if .Sent}}
        <div style="color: darkgreen">An email containing reset link was sent to {{.Email}}</div>
        <br>
        <a href="/login">Back to Login</a>
    {{else}}
        <div>
            <label>
                Email Address
                <input type="email" name="email"/>
            </label>
        </div>

        {{if .Error}}
        <div style="color: red">{{.Error}}</div>
        {{end}}

        <div>
            <input type="submit" value="Send Reset Link"/>
            <br>
            <a href="/login">Back to Login</a>
        </div>
    {{end}}
</form>
</body>
</html>