<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="367907753811-dhk74sn17t0na9gmtq4u5chcmp5vfff6.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label>
            Email Address
            <input type="email" name="email"/>
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password"/>
        </label>
    </div>

    {{if .Error}}
    <div style="color: red">{{.Error}}</div>
    {{end}}

    <div>
        <input type="submit"/>
        <br>
        <a href="/signup">New User Sign-Up</a>
        <br>
        <a href="/forgot-password">Forgot Password</a>

        <script>
            /**
             * sends a request to the specified url from a form. this will change the window location.
             * @param {string} path the path to send the post request to
             * @param {object} params the parameters to add to the url
             * @param {string} [method=post] the method to use on the form
             */

            function post(path, params, method='post') {

                // The rest of this code assumes you are not using a library.
                // It can be made less verbose if you use one.
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                for (const key in params) {
                    if (params.hasOwnProperty(key)) {
                        const hiddenField = document.createElement('input');
                        hiddenField.type = 'hidden';
                        hiddenField.name = key;
                        hiddenField.value = params[key];

                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            }

            function onSignIn(googleUser) {
                var idToken = googleUser.getAuthResponse().id_token;
                gapi.auth2.getAuthInstance().disconnect();
                post('/login', {'id_token': idToken})
            }
        </script>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</form>
</body>
</html>