<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
        .data {
            display: grid;
            grid-template-columns: 100px 1fr;
            padding: 10px 0;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <form action="/profile/edit" method="post">
        <div class="data">
            <div><strong>Email</strong></div>
            <input type="email" name="email" value="{{.Email}}" />
        </div>

        <div class="data">
            <div><strong>Full Name</strong></div>
            <input name="fullname" value="{{.FullName}}" />
        </div>

        <div class="data">
            <div><strong>Address</strong></div>
            <input name="address" value="{{.Address}}" />
        </div>

        <div class="data">
            <div><strong>Telephone</strong></div>
            <input type="number" name="telephone" value="{{.Telephone}}" />
        </div>

        <input type="submit" value="Save & Continue">
        <a href="/profile">Cancel</a>
    </form>
</body>
</html>