<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
        .data {
            display: grid;
            grid-template-columns: 100px 1fr;
            padding: 10px 0;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div>
        <div class="data">
            <div><strong>Email</strong></div>
            <div>{{.Email}}</div>
        </div>

        <div class="data">
            <div><strong>Full Name</strong></div>
            <div>{{.FullName}}</div>
        </div>

        <div class="data">
            <div><strong>Address</strong></div>
            <div>{{.Address}}</div>
        </div>

        <div class="data">
            <div><strong>Telephone</strong></div>
            <div>{{.Telephone}}</div>
        </div>
    </div>

    <div>
        <a href="/profile/edit">Edit</a>
        <br>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>