<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<form action="/profile/reset-password/{{.Token}}" method="post">
    <div>
        <label>
            Password
            <input type="password" name="password_1"/>
        </label>
        <br>
        <label>
            Password (AGAIN)
            <input type="password" name="password_2"/>
        </label>
    </div>

    <input hidden value="{{.Token}}" name="token">

    {{if .Error}}
    <div style="color: red">{{.Error}}</div>
    {{end}}

    <div>
        <input type="submit" value="Reset"/>
        {{ if .ShowForgetPasswordLink }}
            <br>
            <a href="/forgot-password">Forgot Password</a>
        {{ end }}
    </div>
</form>
</body>
</html>